/* ==
CSS file style create by Artiom
General CSS
== */
@font-face {
  font-family: "GitlabSans";
  src: url(/fonts/GitLabSans.otf);
}

:root {
  font-family: GitlabSans;
  line-height: 1.5;
  font-weight: 400;

  --color-card: #fff;
  --shadow-card: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);

  --color-button: #fafafa;
  --color-button-over: #f6f6f6;
  --color-button-disabled: #dcdcdc;
  --color-button-text: rgb(0, 0, 0, 0.8);
  --shadow-button: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-card: #fff;
    --shadow-card: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);

    --color-button: #fafafa;
    --color-button-over: #f6f6f6;
    --color-button-disabled: #dcdcdc;
    --color-button-text: rgb(0, 0, 0, 0.8);
    --shadow-button: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
}

/* == Content CSS == */

/* == Card CSS == */

.card {
  padding: 15px;
  margin: 10px;
  box-shadow: var(--shadow-card);
  border-radius: 5px;
}

/* == Button CSS == */

.button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  font-family: GitlabSans;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.button.is-fullwidth {
  width: 100%;
}

.button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

/* == Input & Label CSS == */

.input {
  color: var(--color-button-text);
  border: none;
  border-radius: 5px;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.4em 0.4em;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
}

.input::placeholder {
  color: #ccc;
}

.input:hover {
  outline: 1px solid rgba(0, 0, 0, 0.4);
}

.input:focus {
  outline: 2px solid rgba(0, 0, 0, 0.5);
}

.input.is-fullwidth {
  width: 100%;
}
/* == Test CSS == */

h1 {
  margin: 0.5em;
  line-height: 100%;
}
h2 {
  line-height: 100%;
}

.text-red {
  color: #e83940;
}

.span {
  font-size: 1em;
  font-weight: 500;
}

/* == App custom CSS == */
