@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url(/fonts/inter.ttf);
}

@layer base {
  html {
    font-family: Inter;
  }
}

@layer components {
  .btn {
    @apply flex h-8 min-w-[50px] cursor-pointer items-center justify-center gap-2 overflow-hidden whitespace-nowrap text-nowrap rounded-lg border px-3 align-middle no-underline outline-none transition-colors disabled:cursor-not-allowed disabled:opacity-50;
  }
  .btn.secondary {
    @apply border-[#cbd5e1] bg-[#fff] text-[#09090b] hover:bg-[#f1f5f9] dark:border-[#4a4a4a] dark:bg-[#242427] dark:text-[#fff] dark:hover:bg-[#303033];
  }

  .btn.error {
    @apply border-[#fca5a5] bg-[#fef2f2] text-[#b91c1c] hover:bg-[#fee2e2] dark:border-[#f87171] dark:bg-[#452a2c] dark:text-[#fee2e2] dark:hover:bg-[#5c3335];
  }

  .btn.success {
    @apply border-[#6ee7b7] bg-[#ecfdf5] text-[#047857] hover:bg-[#d1fae5] dark:border-[#4ade80] dark:bg-[#22402f] dark:text-[#d1fae5] dark:hover:bg-[#275439];
  }

  .btn.warning {
    @apply border-[#fdba74] bg-[#fff7ed] text-[#c2410c] hover:bg-[#ffedd5] dark:border-[#fb923c] dark:bg-[#453022] dark:text-[#ffedd5] dark:hover:bg-[#5d3d25];
  }

  .input {
    @apply flex h-8 cursor-text items-center justify-center gap-2 whitespace-nowrap text-nowrap rounded-lg border px-2 align-middle no-underline outline-none transition-colors;
  }

  .input.secondary {
    @apply border-[#cbd5e1] bg-[#fff] text-[#09090b] hover:bg-[#f1f5f9] dark:border-[#505052] dark:bg-[#242427] dark:text-[#fff] dark:hover:bg-[#303033];
  }

  .card {
    @apply rounded-lg bg-white p-2 drop-shadow dark:bg-neutral-800;
  }

  .card.level {
    @apply bg-black/10 dark:bg-white/10;
  }
}
